<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" metadata-complete="false"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>default.html</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>OldServeltDemoController</servlet-name>
		<servlet-class>com.aredent.servlet.controller.OldServeltDemoController</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>OldServeltDemoController</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>WelcomeController</servlet-name>
		<servlet-class>com.aredent.servlet.controller.WelcomeController</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>WelcomeController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

</web-app>
